services:
  # 1. O serviço da API (Backend)
  api:
    build: ./apps/api
    ports: ["3000:3000"]
    container_name: saudacao-api
    logging: # <-- ADICIONE ESTA LINHA
      driver: "none" # <-- E ESTA LINHA

  # 2. O serviço do PWA (Frontend)
  web:
    build: ./apps/web
    ports: ["8080:80"]
    container_name: saudacao-web
    depends_on: [api]
    logging: # <-- ADICIONE ESTA LINHA
      driver: "none" # <-- E ESTA LINHA
    container_name: saudacao-web
    depends_on: [api]      # Diz ao Docker para esperar a 'api' ficar pronta antes de subir o 'web'