services:
  # 1. O serviço da API (Backend)
  api:
    build: ./apps/api
    ports: ["3000:3000"]
    container_name: saudacao-api
    logging: # <-- MANTÉM ISTO
      driver: "json-file" # <-- MUDE "none" PARA "json-file"

  # 2. O serviço do PWA (Frontend)
  web:
    build: ./apps/web
    ports: ["8080:80"]
    container_name: saudacao-web
    depends_on: [api]
    logging: # <-- MANTÉM ISTO
      driver: "json-file" # <-- MUDE "none" PARA "json-file"